#product-div {
  padding-top: 3rem;
  font-family: "Arial", Sans-serif;
  color: #0088f7;
}

#product-detail {
  display: flex;
  margin: 2rem auto 5rem 5rem;
  gap: 5rem;
}

#sample-img-div > img {
  width: 40vw;
}

#product-title {
  font-size: 48px;
  font-weight: bold;
  color: #0088f7;
}

#product-description {
  font-style: italic;
  font-weight: bold;
  font-size: 1.953em;
  line-height: 1;
  margin-bottom: 3rem;
  color: #0088f7;
}

table {
  width: 100%;
  max-width: 100%;
  empty-cells: show;
  border-collapse: collapse;
  margin-bottom: 3rem;
  border: 1px solid #0088f7;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #0088f7;
  color: white;
  width: 100px;
}

td {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100px;
}

#buy-button {
  margin-top: 10px;
  font-size: 16px;
  line-height: 0.1em;
  background-color: #ff7b16;
  border-radius: 8px 8px 8px 8px;
  width: 100%;
  padding: 20px 15px 20px 15px;
  font-weight: 500;
  color: #fff;
}
