.banner-div {
  position: relative;
  display: grid;
  place-items: center;
  * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    font-weight: bold;
  }
  .main-sample-img {
    max-width: 100%;
    min-height: 20rem;
  }
  .left-sample-img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .right-sample-img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .greeting-div {
    display: flex;
    align-items: center;
    z-index: 1;
    gap: 1em;
    h1 {
      font-size: 40px;
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
}

.home-page-div {
  .media-scroller-wrapper {
    margin: 40px 200px;
  }
}

.contact-div {
  margin: 40px 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #212121;
  h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  hr {
    height: 4px;
    background-color: #212121;
    border: none;
    width: 40%;
  }
  .widget-wrap {
    margin: 60px 40px 50px;
    display: grid;
    grid-auto-flow: column;
    .widget-item img {
      max-width: 25vw;
      border-radius: 20px;
    }
  }
}
