#banner-div {
    background-image: url("/public/Pictures/sample2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 120px 0px;
    color: red;
    font-weight: 700;
    font-size: 15px;
    position: relative;
  }
  
  #banner-div #left-sample-img {
    position: absolute;
    top: 0;
    left: 0;
  }
  #banner-div #right-sample-img {
    position: absolute;
    bottom: 0;
    right: 0;
  }